html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 100;
 background-image:url(../img/west.jpg);
 background-repeat:no-repeat;
 background-size:1400px 620px;
}

.form-title{
  color:rgb(255, 255, 255);
  text-align:center;
  line-height: 50px;
  letter-spacing:nomal;
}

/* .login-lable{
  
} */

.btn {
  margin: 100;
  padding: 1000;
}
